		<div class="row">
			<div class="large-12 columns">
				<h1 id="top-bar">Frogメンバー名簿</h1>
				<hr>
			</div>
		</div>
		<div class="row person">
			<div class="large-5 columns">
				<h3 class="subheader"><%= @person.name %></h3>
				<p><%= @person.detail %></p>
			</div>
			<div class="large-7 columns">
				<table>
					<thead>
						<tr>
							<th>到着日</th>
							<th>現在通っている学校</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><%= @person.arrivalDate %></td>
							<td><%= link_to @school.name, school_path(@school) %></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
